.root {
    font-size: 14pt;
    background: #f7f7f7;
    justify-content: center;
    display: flex;
    padding: 24px 0;
}

 .strong {
     font-weight: bold;
 }

 .italic {
     font-style: italic;
 }

 .disabled {
     opacity: 0.6;
     cursor: not-allowed;
 }